{% extends 'website/base.html.twig' %}

{% block title %}News by Category{% endblock %}

{% block body %}
    <section class="news-categories">
        {% for category in categories %}
            <article class="category-section">
                <header class="category-header">
                    <h2 class="category-name">
                        <a href="{{ path('category_news', { id: category.id }) }}">{{ category.title }}</a>
                    </h2>
                </header>

                <div class="category-news-list">
                    {% for news in category.news %}
                        {{ include('website/news/news_card.html.twig') }}
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
