{% extends 'website/base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <section class="news-categories">
        <div class="category-section">
            <div class="category-header">
                <h2 class="category-name">Category news</h2>
            </div>

            <div class="category-news-list">
                {% for news in paginatedNews %}
                    {{ include('website/news/news_card.html.twig') }}
                {% else %}
                    <p>No news found.</p>
                {% endfor %}
            </div>

            {# Pagination Controls #}
            <div class="pagination" style="margin-top: 2rem; display: flex; gap: 1rem;">
                {{ knp_pagination_render(paginatedNews,'@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
